  <!-- About us heading-->
  <section id="about_header" parallax-window data-parallax="scroll" data-image-src="/images/aboutus.jpg" data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="h4-type3">ABOUT US</h4>
          <div class="border-bar4 margin-t20 "></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About us heading end-->

  <!-- what we do  -->
  <section id="whatwedo" class="padding-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="h4-type2">What We Do</h4>
          <div class="border-bar2 margin-t20 "></div>
          <p class="p-type-3 color-grey margin-t20">At GreenWave, we provides cutting-edge telecom and digital media solutions, including fiber optic technology, telecom and safety engineering, mobile site management, mobile site analysis, hazard removal, software engineering, hardware and networking, database management, digital marketing and Edusoft solutions. Telecom industry is not just about core communication services. Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br> We are always ready to serve.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- what we do  end-->


  <!-- who we are -->
  <section id="whoweare">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-tb100">
          <h4 class="h4-type2 margin-t10">Who We Are</h4>
          <div class="border-bar margin-t20 "></div>
          <p class="p-type-5 color-grey margin-t20">We are a leading professionals that serves a broad mix of private, public sector institutions. We help our clients make significant and lasting improvements to their performance and realize their most important goals. 
            We engage in providing high end enterprise solution in the field of Information Technology. The company was co-founded by four liked minded professionals in the year 2017 with a very small team. Today, the company is successful in terms of steadfast growth and excellent which is focused on values, innovation, transparency and integrity.
          </p>
          <a href="/route/contact" class="btn login-btn">GET MORE INFO</a>
        </div>
        <div class="col-md-6 col-xs-12 parallax-window" data-parallax="scroll" data-image-src="/images/whoweare.jpg" data-speed="0.4">
        </div>
      </div>
    </div>
  </section>
  <!-- who we are end-->

