
  <!-- flexslider  -->
  <section id="slider">
    <div class="flexslider flexslide-container">

      <ul class="slides text-center" data-parallax="scroll" data-speed="0.4">

        <li style="background-image: url('images/slides/slide1.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <p class="p-type-1"><img class="is_logo" src="images/logo.svg" alt="logo"></p>
            <h5 class="h5-type-1 margin-t20">Tree Planting &amp; Healthy Living</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenway International Foundation has taken a bold step and welcomes partnership with organizations, private and public entities to setup a working relationship that creates a sustainable healthy living by providing oxygen, water conservation, soil preservation and climate amelioration.
              </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

        <li style="background-image: url('images/slides/slide2.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <p class="p-type-1"><img class="is_logo"  src="images/logo.svg" alt="logo"></p>
            <h5 class="h5-type-1 margin-t20">Tree Planting &amp; Healthy Living</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenway International Foundation has taken a bold step and welcomes partnership with organizations, private and public entities to setup a working relationship that creates a sustainable healthy living by providing oxygen, water conservation, soil preservation and climate amelioration.
            </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

        <li style="background-image: url('images/slides/slide3.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <h5 class="h5-type-1 margin-t20">Tree Planting &amp; Healthy Living</h5>
            <h5 class="h5-type-1 margin-t20">Clean &amp; Modern Design</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenway International Foundation has taken a bold step and welcomes partnership with organizations, private and public entities to setup a working relationship that creates a sustainable healthy living by providing oxygen, water conservation, soil preservation and climate amelioration.
            </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <!-- flexslider end -->

  <!-- what we do  -->
  <section id="whatwedo" class="padding-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="h4-type2">Our Vission & Mission</h4>
          <div class="border-bar2 margin-t20 "></div>
          <p class="p-type-3 color-grey margin-t20">We understand and believe that urban tree planting can result in cooler temperatures and reduced air pollution for millions of urban residents. Previous research has already shown that trees are capable of both cooling and cleaning the air in urban spaces.Trees are also proven to remove carbon from the air, getting absorbed and stored as cellulose in their trunks, branches, and leaves (a process known as sequestration).Trees can make a city sidewalk prettier.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- what we do  end-->

  <!-- who we are -->
  <section id="whoweare">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-tb100">
          <h4 class="h4-type2 margin-t10">Who We Are</h4>
          <div class="border-bar margin-t20"></div>
          <p class="p-type-5 color-grey margin-t20">Trees conserve energy. Three trees placed strategically around a single-family home can cut summer air conditioning needs by up to 50 percent. By reducing the energy demand for cooling our houses, we reduce carbon dioxide and other pollution emissions from power plants. It isn't just Carbon Dioxide that trees absorb from the air, the also soak up a range of other pollutants and toxins which are emitted by our everyday activities. This is more vital than ever these days, as air pollution – particularly in urban areas – means the air we breathe is reaching (or exceeding) toxic levels..
          </p>
          <a href="/route/apply" class="btn login-btn">Apply Now!</a>
        </div>
        <div class="col-md-6 col-xs-12 parallax-window" data-parallax="scroll" data-image-src="images/whoweare.jpg" data-speed="0.4">
        </div>
      </div>
    </div>
  </section>
  <!-- who we are end-->


 <!-- portfolio -->
 <section id="portfolio" class="padding-tb100">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h4 class="h4-type2 text-center">Portfolio</h4>
          <div class="border-bar2 margin-t20"></div>
        </div>
      </div>

      <div class="row margin-t50">

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item1.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item1.jpg" alt="">
            </a>
          </div>
        </div>


        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item2.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item2.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item3.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item3.jpg" alt="">
            </a>
          </div>
        </div>

      </div>
      
      <div class="col-md-12 margin-t50">
        <div class="is_centered">
            <a href="/route/about" class="btn btn-primary btn-block">Find Out More!</a>
        </div>
      </div>

    </div>
 </section>
 <!-- portfolio end-->

 
